p {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #4242EA;
}

ul {
  list-style: none;
}

footer span {
  font-weight: 700;
}

.weather p {
  font-size: 40px;
}

.above-the-fold article {
  display: inline-block;
}

.weather {
  width: 300px;
  border: 2px solid gray;
}

.breaking-news {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.breaking-news img {
  width: 200px;
}

.click-bait article {
  display: inline-block;
  width: 250px;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.below-the-fold article {
  display: inline-block;
}

.below-the-fold img {
  display: inline-block;
  margin: 16px;
  padding: 16px;
  width: 200px;
}

.below-the-fold div {
  width: 500px;
}

/* end */

body {
    max-width: 1000px;
    margin: 0 auto;
}

.site-map {
  list-style-type: none;
  line-height: 30px;
  display: inline-block;
  margin: 42px;
  width: 200px;
  text-align: center;
}

.click-bait {
    text-align: center;
}

div > p {
    text-align: center;
}

.below-the-fold {
    display: inline-block;
    justify-content: center;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.higher {
    display: inline-block;
}

.above-the-fold {
    display: inline-block;
}

.weather {
    margin: 0%;
    box-sizing: border-box;
}

.img-grid {
    margin-left: 35%;
}

.breaking-news {
    box-sizing: border box;
    width: 632px;
}

.breaking {
    text-align: center;
}

#more-info,
#more-info:active,
#more-info:visited {
  color: yellow;
  text-decoration: none;
}

#more-info:hover {
  color: blue;
}